<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.volleyball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Volleyball">
        <activity android:name=".R_RulesContainer"></activity>
        <activity android:name=".BSkillBlockingContainer" />
        <activity android:name=".BSPassingContainer" />
        <activity android:name=".BSServingContainer" />
        <activity android:name=".BSHittingContainer" />
        <activity android:name=".BS_BasicSkillsSection" />
        <activity android:name=".FacilitiesNetPostContainer" />
        <activity android:name=".FacilitiesLineContainer" />
        <activity android:name=".FacilitiesZAreasContainer" />
        <activity android:name=".FacilitiesVCourtContainer" />
        <activity android:name=".OverviewEventsContainer" />
        <activity android:name=".OverviewWGrowthContainer" />
        <activity android:name=".OverviewOriginContainer" />
        <activity android:name=".BTTermContainer" />
        <activity android:name=".ActivityContainer" />
        <activity android:name=".RulesSection" />
        <activity android:name=".E_EquipmentsSection" />
        <activity android:name=".F_FacilitiesSection" />
        <activity android:name=".BT_BasicTermSection" />
        <activity android:name=".O_OverviewSection" />
        <activity android:name=".MainActivity2" />
        <activity
            android:name=".HomeActivity"
            android:label="Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>